.profile {
    display: flex;
    flex-direction: row;
    max-width: 880px;
    min-height: 120px;
    margin: 40px auto 51px;
}

@media screen and (min-width: 1281px) {
    .profile {
        max-width: 880px;
        margin: 40px auto 51px;
    }
}

@media screen and (max-width: 1000px) {
    .profile {
        flex-direction: column;
        max-width: 282px;
        min-height: 286px;
        margin: 42px auto 36px;
    }
}