.profile__info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 4px 18px;
    max-width: 336px;
    color: #fff;
    margin: auto 0 auto 30px;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .profile__info {
        max-width: 245px;
        margin: 26px auto 36px;
        gap: 8px 10px;
        padding-left: 28px;
    }
}