.elements {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    gap: 20px 17px;
    max-width: 880px;
    margin: auto;
    padding: 0;
}

@media screen and (min-width: 1281px) {
    .elements {
        max-width: 880px;
    }
}

@media screen and (max-width: 1000px) {
    .elements {
        grid-template-columns: repeat(2, auto);
        max-width: 598px;
    }
}

@media screen and (max-width: 650px) {
    .elements {
        grid-template-columns: auto;
    }
}