.popup__container {
    width: 430px;
    /*min-height: 330px;*/
    background: #fff;
    border-radius: 10px;
    position: relative;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .popup__container {
        width: 282px;
        min-height: 322px;
    }
}