.header {
    display: flex;
    flex-direction: column;
    max-width: 880px;
    margin: auto;
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 1281px) {
    .header {
        max-width: 880px;
        margin: auto;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        max-width: 100%;
        padding-top: 28px;
    }
}

@media screen and (max-width: 426px) {
    .header {
        max-width: 100%;
        padding-top: 28px;
    }
}